@inherits LayoutComponentBase
@inject UserSessionService UserSessionService
@inject NavigationManager navManager
@using Kantine.Services
@inject ILoginService loginService

<CascadingValue Value="this">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <button class="btn btn-outline-primary" @onclick="HandleLoginLogout">
                    @(UserSessionService.IsLoggedIn ? "Logout" : "Login")
                </button>
            </div>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code {
    protected override void OnInitialized()
    {
        UserSessionService.OnChange += StateHasChanged;
    }

    private async Task HandleLoginLogout()
    {
        if (UserSessionService.IsLoggedIn)
        {
            UserSessionService.SetLoginStatus(false); // Log ud
            await loginService.Logout(); // Asynkron logout-operation
            navManager.NavigateTo("/LoginPage", forceLoad: true);
        }
        else
        {
            navManager.NavigateTo("/LoginPage");
        }
    }

    public void Dispose()
    {
        UserSessionService.OnChange -= StateHasChanged;
    }
}