@page "/WriteMessage"
@using KantineApp.Components
@using Core.Models
@using Blazored.LocalStorage
@using KantineApp.Services
@inject ILocalStorageService localStorage
@inject ILoginService LoginService
@inject NavigationManager navManager

@if (isLoggedIn)
{
    <WriteMessageDisplay/>
}
else 
{
    <p>You must be logged in to view this site.</p>
}

@code {
    private bool isLoggedIn = false;
    
    public int? UserId;
    
    public async Task GetUserId()
    {
        var user = await localStorage.GetItemAsync<Employee>("user");
        if (user != null)
        {
            UserId = user.Id;
            isLoggedIn = true;
        }
        else
        {
            UserId = null;
            isLoggedIn = false;
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        var user = await LoginService.GetUserLoggedIn();
        if (user == null)
        {
            navManager.NavigateTo("LoginPage/WriteMessage");
        }

        await GetUserId();
    }
}